body {
    margin: 100px 180px 100px 180px;
   }
.bigBox {
    border: 1px white solid;
    width: 97%;
    height: 300px;
    background-color: #F5C6D6;
    margin: 10px;
    
}

.box4 {
    border: 1px white solid;
    width: 23%;
    height: 300px;
    background-color: #EE2E84;
    margin: 10px;
    display: inline-block;
    
    }

.box2 {
    border: 1px white solid;
    width: 47.7%;
    height: 300px;
    background-color: #85CFD8;
    margin: 10px;
    display: inline-block;

    }

.box22 {
    border: 1px white solid;
    width: 70%;
    height: 300px;
    background-color: #8Dc63F;
    margin: 10px;
    display: inline-block;
    }
.box33 {
    border: 1px white solid;
    width: 25.5%;
    height: 300px;
    background-color: #E76E34;
    margin: 10px;
    display: inline-block;
    }
"
* {
    box-sizing: border-box;
}
"