body {
    margin: 10px 200px 10px 200px;
}

header {
    color: darkred;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
aside {
    color: darkred;
    font-family: monospace;
    font-size: 40px;
    padding: 20px;
    width: 20%;
    float: left
}

nav {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 30px;
    font-family: monospace;
}
span {
    margin: 80px;
}
#box:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 700px 0px 0px 0px;
    padding: 30px;
    font-family: monospace;
}
