.container {
    padding: 20px;
}

.jumbotron{
    
    background-color: rgba(91, 192, 222, 0.05);
}
.postTextArea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 1.7px #0099cc;
    resize: none;
    width: 45%;
}

.editedPostTextArea{
    resize: none;
    
}

.postBtn {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0099cc;
    color: #0099cc;
    background: none;
    border-radius: 38px;
    transition: border-radius 0.3s;
}

.postBtn:hover {
    border: 2px solid #0099cc;
    color: #0099cc;
    background: none !important;
    border-radius: 9px;
}

.textAreaAndButton {
    margin-bottom: 20px;
}

.post {
    width: 55%;
    border: 0.5px solid rgba(148, 145, 145, 0.28);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5px;
    text-align: center;
        background-color: rgba(255, 255, 240, 0.52);
    
    word-wrap: break-word;
    padding: 5px;
}

.post:hover {
    border: solid 1px #0099cc;
}

.post p {
    font-size: 20px;
    font-family: sans-serif;
    color: #7b7b7b;
}
#postImg{
    width: 100%;
    height: 100%;
    padding: 2%;
    
}
.postIcons {
    font-size: 130%;
    margin-right:2%;
    color: #7b7b7b;
}

#like:hover {
    color: royalblue;
    cursor: pointer;
}

#dislike:hover {
    color: red;
    cursor: pointer;
}

#edit:hover {
    color: green;
    cursor: pointer;
    
}

#comment{
    cursor: pointer;
    
}


#commentTextField{
    display: inline-block;
    width:75%;
    
}

.commentbtn{
    border: 2px solid;
    color: #7b7b7b;
    background: none;
    border-radius: 10px;
    transition: border-radius 0.3s;
    
    
    
}

.commentbtn:hover{
    border: 2px solid ;
    color: #7b7b7b;
    background: none !important;
    border-radius: 9px;
    
}

#applyEdits:hover {
    color: green;
    cursor: pointer;
    
}




#remove {
    float: right;
    color: #cecece;
}

#remove:hover {
    cursor: pointer;
    color: red;
}
