body {
    margin: 30px 100px 0px 100px;
}
.pink {
    background-color: #F5C6D6;
    height: 200px;
}
.pinko {
    background-color: #EE2E84;
    height: 200px;
    margin-top: 30px;
}
.blue {
    background-color: #85CFD8;
    height: 200px;
    margin-top: 30px;
}
.green {
    background-color: #8DC63F;
    height: 200px;
    margin-top: 30px;
}
.orange {
    background-color: #E76E34;
    height: 200px;
    margin-top: 30px;
}